html {
    line-height: 1.15;
    overflow-x: hidden;
}

body {
    margin: 0;
}

/* -----> Fonts, Text, and Link Styles <----- */


@font-face {
    font-family: 'FoundersGrotesk';
    src: url('fonts/founders-grotesk-text-web-regular.woff2') format('woff2');
    font-style: regular;
}

@font-face {
    font-family: 'FoundersGroteskCond';
    src: url('fonts/test-founders-grotesk-condensed-medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGroteskCond';
    src: url('fonts/founders-grotesk-condensed-web-bold.woff2') format('woff2');
    font-weight: 400;
    font-style: bold;
}

.FoundersGrotesk {
    font-family: 'FoundersGrotesk', Helvetica, sans-serif;
}

.FoundersGroteskCond {
    font-family: 'FoundersGroteskCond';
}

.FoundersGroteskCond-bold {
    font-family: 'FoundersGroteskCond';
    font-style: bold;
}

h1 {
    font-family: 'FoundersGrotesk', monospace;
    text-align: justify;
    font-weight: 400;
}

.partnersheader {
    text-align: center;
    color: black;
    padding-bottom: 5px;
    padding-top: 2rem;
    font-size: 2.5rem;
    font-family: 'FoundersGroteskCond', sans-serif;
}

.herocopy {
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: "FoundersGroteskCond", sans-serif;
    font-style: bold;
    position: relative;
    margin: auto;
    display: block;
    box-sizing: border-box;
    line-height: .9;
}

.intro {
    padding: 1% 7%;
    font-size: 20pt;
}

.copy {
    text-align: justify;
    padding: 13rem;
    color: white;
    font-size: 26px;
}

#glcopy::selection {
    background-color: #EB6C6C;
}

#marketingcopy::selection {
    background-color: #EBCF6C;
}

#mediacopy::selection {
    background-color: #9CEB6C;
}

#investingcopy::selection {
    background-color: #B36CEB;
}

#collegecopy::selection {
    background-color: #6ca5eb;
}

ul {
    list-style: none;
}

li {
    font-size: 1.25em;
    color: black;
    font-family: 'FoundersGrotesk', monospace;
    line-height: 3;
    text-align: center;
    padding-right: 5%;
}


/* -----> Header <----- */

.topnavlogo {
    display: block;
    margin-left: 1.5em;
    margin-right: auto;
    margin-top: 1em;
    float: left;
    height: 2em;
}

.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
    height: auto;
    border-bottom: 2px solid black;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: auto;
    height: auto;
}

.header li {
    padding-left: 1em;
    padding-right: 0;
}

.header li a {
    display: inline-block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    width: 10%;
    color: black;
}

@media screen and (max-width: 500px) {
    .header li a {
        width: 100%;
        padding: 15px 0;
    }
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: black;
    color: white;
}

.header li a:visited {
    color: black;
}

#headerlist a {
    color: black;
}

#headerlist a:hover {
    color: white;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: fit-content
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 1026px) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
        display: inline;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 1026px) {
    .header li {
        padding-left: 0em;
        padding-right: 0;
        text-align: center;
    }

    .header li a {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #contactform {
        max-width: 60%;
        margin: 5% auto;
    }

    li {
        line-height: 2;
        font-size: 16px;
    }

    li a:hover li a:active {
        background-color: transparent;
    }

    .intro {
        text-align: center;
    }

    .copy {
        padding: 2rem;
        text-align: center;
    }


    .header li {
        padding-left: 0em;
        padding-right: 0;
        text-align: center;
    }

    .header li a {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #contactform {
        max-width: 50%;
        margin: 5% auto;
    }

    li {
        line-height: 2;
        font-size: 16px;
    }

    li a:hover li a:active {
        background-color: transparent;
    }

    .copy {
        padding: 2rem;
        font-size: 16pt;
    }

    .header li {
        padding-left: 0em;
        padding-right: 0;
        text-align: center;
    }

    .header li a {
        width: 100%;
        padding: 15px 0;
    }

    .herocopy {
        font-size: 30pt;
        padding: 1rem;
    }

    .intro {
        font-size: 16pt;
    }

    ul {
        padding-left: 5%;
        text-align: center;
    }
}



/* -----> Body Divs <----- */


.block {
    height: 75vh;
    background-color: black;
    display: table;
    width: 100vw;
}

#hero {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-image: url(images/mlb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#who {
    height: auto;
    background-color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    width: 100vw;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 25px 5%;
    text-align: center;
    width: 90%;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 12%;
    max-width: 25%;
    padding: 0 0px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 75%;
    height: 100px
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .column img {
        max-height: 75px;
        padding-bottom: 45px;
    }

    .row {
        text-align: center;

    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .column img {
        max-height: 60px;
        padding-bottom: 30px;
    }
}


#grouplicensing {
    display: table-cell;
    vertical-align: middle;
    background-image: url(images/rugby.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#marketing {
    display: table-cell;
    vertical-align: middle;
    background-image: url(images/mls.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#media {
    display: table-cell;
    vertical-align: middle;
    background-image: url(images/wnba.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#investing {
    display: table-cell;
    vertical-align: middle;
    background-image: url(images/nfl.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#college {
    display: table-cell;
    vertical-align: middle;
    background-image: url(images/nfl.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* -----> Marquee Controls <----- */


.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 68px;
    overflow-x: hidden;
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    padding-top: .5rem;
    font-family: 'FoundersGroteskCond';
    white-space: nowrap;
    letter-spacing: 3px;
}

.marquee:hover div {
    animation-play-state: paused;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.content span {
    -webkit-text-stroke: 1px #000;
    color: transparent;

}

#grouplicensing_marquee {
    background-color: #EB6C6C;
}

#marketing_marquee {
    background-color: #EBCF6C;
}

#media_marquee {
    background-color: #9CEB6C;
}

#investing_marquee {
    background-color: #B36CEB;
}

#college_marquee {
    background-color: #6ca5eb;
}

#contact_marquee {
    background-color: #EB6C6C;
}

/* -----> Contact Form Controls <----- */


form {
    max-width: 40%;
    margin: 5% auto;
}

.feedback-input {
    color: black;
    font-family: 'FoundersGrotesk', monospace;
    font-size: 20px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid black;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #EB6C6C;
}

textarea {
    height: 100px;
    line-height: 150%;
    resize: vertical;
}

option {
    font-family: Arial, Helvetica, sans-serif;
}

[type="submit"] {
    font-family: 'FoundersGroteskCond', arial;
    width: 100%;
    background: #EB6C6C;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 500;
    letter-spacing: 2px;
    -webkit-appearance: none;
}

[type="submit"]:hover {
    background: #CC4949;
}

@media screen and (max-width: 600px) {
    .form {
        margin-top: 15px;
    }


    .feedback-input {
        font-size: 12px;
        background-color: transparent;
        padding: 10px;
        margin-bottom: 10px;
    }

}


/* -----> Footer <----- */



#footer {
    max-width: 100vw;
    text-align: center;
    padding-top: 1rem;
    background-color: white;
    height: auto;
}

.footeritem {
    display: inline-block;
    width: 20%;
    color: black;
    text-decoration: none;
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    .footeritem {
        font-size: 12pt;
    }
}

@media screen and (max-width: 500px) {
    .footeritem {
        width: auto;
        padding: 15px;
    }
}

.footeritem a {
    text-decoration: none;
    color: black;
    font-family: 'FoundersGrotesk', monospace;
}

.footeritem a:hover {
    text-decoration: underline;
    color: black;
    font-family: 'FoundersGrotesk', monospace;
}

.footerlogo {
    height: auto;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;
}

.foot {
    width: 30px;
}

/* -----> GLA Stlyes <----- */

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1% 5%;
}

img {
    width: auto;
    height: auto;
    max-height: 175px;
    text-align: center;
}

.exampleimg {
    width: 100%;
    max-height: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    min-width: 18rem;
    margin: 20px 25px;
    text-align: center;
    vertical-align: top;
}

.example {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45%;
    min-width: 18rem;
    margin: 20px;
    text-align: center;
    vertical-align: top;
}

.textcontainer {
    height: auto;
    background-color: transparent;
    padding: 3% 0%;
    margin: 1% 7% 2%;
    ;
}

.ctacopy {
    padding: 0rem 13rem 2rem;
    font-size: 22pt;
    color: white;
    text-align: center;
}

.marqueegla {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 68px;
    overflow-x: hidden;
    font-size: 50px;
    text-transform: uppercase;
    color: black;
    padding-top: .5rem;
    font-family: 'FoundersGroteskCond';
    white-space: nowrap;
    letter-spacing: 3px;
}

.marqueegla div {
    animation-play-state: paused;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 890px) {
    .example {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        min-width: 18rem;
        margin: 20px;
        text-align: center;
        vertical-align: top;
    }
}

@media screen and (max-width: 800px) {
    .ctacopy {
        padding: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .ctacopy {
        padding: 2rem;
        font-size: 16pt;
    }

    img {
        width: auto;
        height: auto;
        max-height: 100px;
        text-align: center;
    }

    .marqueegla {
        height: 37px;
        font-size: 25px;
    }
}

.ctabutton {
    font-family: 'FoundersGroteskCond', arial;
    width: 50%;
    background: #6ca5eb;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 500;
    letter-spacing: 2px;
    -webkit-appearance: none;
}

.ctabutton a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}

.ctabutton:hover {
    background: #1f4e89;
}

.example a {
    width: 100%;
}

/* Accordion FAQ Controls */
.faq {
    width: 100%;
    max-width: 90%;
    margin: 5% auto;
}

details div {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 1.5em;

    border: 2px solid transparent;
    padding: 1.75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
    font-family: 'FoundersGrotesk', monospace;
    font-size: 18pt;
}

details div>*+* {
    margin-top: 1.5em;
}

details+details {
    margin-top: 2rem;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    border: 2px solid #000;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
    font-family: 'FoundersGrotesk', monospace;
    font-size: 20pt;
    text-align: center;
}

summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "+";
    width: 1.75rem;
    height: 1.75rem;
    background-color: transparent;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

details[open] summary {
    background-color: #eee;
}

details[open] summary:before {
    content: "-";
}

summary:hover {
    background-color: #eee;
}